form#sheet {
    display: grid;
}

fieldset#info {
    display: grid;
    grid-column: 1;
}
fieldset#info > label {
    grid-column: 1;
}
fieldset#info > input {
    grid-column: 2;
}

fieldset#stats {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column: 2;
}
fieldset#stats > select {
    padding: .5em;
}

#fightLabel {
    grid-column: 1;
    grid-row: 1;
}
#fight {
    grid-column: 2;
    grid-row: 1;
}
#flight {
    grid-column: 3;
    grid-row: 1;
}
#flightLabel {
    grid-column: 4;
    grid-row: 1;
}
#brainsLabel {
    grid-column: 1;
    grid-row: 2;
}
#brains {
    grid-column: 2;
    grid-row: 2;
}
#brawn {
    grid-column: 3;
    grid-row: 2;
}
#brawnLabel {
    grid-column: 4;
    grid-row: 2;
}
#charmLabel {
    grid-column: 1;
    grid-row: 3;
}
#charm {
    grid-column: 2;
    grid-row: 3;
}
#grit {
    grid-column: 3;
    grid-row: 3;
}
#gritLabel {
    grid-column: 4;
    grid-row: 3;
}

fieldset#strengths {
    grid-column: 1/3;
}
.strengthDescription {
    display: none;
    color: gray;
    font-style: italic;
}

#notes {
    grid-column: 1;
    grid-row: 4;
}
#notesLabel {
    grid-column: 1;
    grid-row: 3;
}
#backpack {
    grid-column: 2;
    grid-row: 4;
}
#backpackLabel {
    grid-column: 2;
    grid-row: 3;
}
#textfields > label {
    display: block;
}

textarea {
    margin: 1em;
}
