@font-face {
    font-family: Junction;
    src: url('../junction-regular.woff');
}

html {
    background-color: gray;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 60em;
    background-color: #fff;
    padding: 1em;
}

h1 {
    font-family: Junction, sans-serif;
    font-weight: normal;
    text-align: center;
}

form {
    margin: 1em;
    display: block;
}

textarea, input#name {
    display: block;
    width: 100%;
    font-size: 2em;
}

label, legend {
    font-size: 1.3em;
    font-weight: normal;
    font-family: Junction, sans-serif;
}

textarea {
    resize: none;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: .5em;
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 10em;
}

fieldset {
    margin-top: 1em;
}

fieldset#info {
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
}

fieldset#info > input {
    margin: .5em;
    padding: .5em;
    font-size: 1.5em;
    width: 50%;
}

label[for="inventoryScore"], #inventoryScore {
    margin: 1em;
}

label[for="level"] {
    grid-row: 1;
    grid-column: 1;
}
label[for="maxHP"] {
    grid-row: 1;
    grid-column: 2;
}
label[for="currentHP"] {
    grid-row: 1;
    grid-column: 3;
}
label[for="mycologist"] {
    grid-row: 3;
    grid-column: 1;
}
label[for="mycotoxicologist"] {
    grid-row: 3;
    grid-column: 2;
}
label[for="brute"] {
    grid-row: 3;
    grid-column: 3;
}
input#level {
    grid-row: 2;
    grid-column: 1;
}
input#maxHP {
    grid-row: 2;
    grid-column: 2;
}
input#currentHP {
    grid-row: 2;
    grid-column: 3;
}
input#mycologist {
    grid-row: 4;
    grid-column: 1;
}
input#mycotoxicologist {
    grid-row: 4;
    grid-column: 2;
}
input#brute {
    grid-row: 4;
    grid-column: 3;
}
